[package]
name = "rwkv-lm"
authors = ["Cai-z-us <caizus@rwkvos.com>"]
description = "Example: RWKV Language model"
publish = false
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[features]
default = [
    "training",
    "cuda",
    "ddp",
    "pth2mpk",
    "std"
]
f16 = []
flex32 = []
fusion = ["rwkv/fusion"]
cubecl = ["rwkv/cubecl"]
autotune = ["rwkv/autotune"]
metrics = ["rwkv/metrics"]
nn = ["rwkv/nn"]
std = ["rwkv/std"]
tui = ["rwkv/tui"]
wgpu = ["rwkv/wgpu"]
vulkan = ["rwkv/vulkan"]
cuda = ["rwkv/cuda"]
rocm = ["rwkv/rocm"]
metal = ["rwkv/metal"]
ddp = ["rwkv/collective"]
training = ["rwkv/train", "rwkv/cubecl", "metrics", "std"]
pth2mpk = ["rwkv/store", "rwkv/cubecl", "nn", "std"]

[dependencies]
log = "0.4.29"
sonic-rs = { version = "0.5.6" }
rwkv = { path = "../../crates/rwkv", default-features = false }

# Utils
derive-new = { workspace = true }
